}
header{
   line-height: 1.5; 
}
header. profile-image{
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s;
}
header .profile-image:hover {
    transform: scale(1:2) rotate(5deg);
}
.tag {
    background-color: #e2e2e2;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin:10px auto;
}
.location {
    background-color: #222;
    color: white;
}
.card {
margin: 30px;
padding: 20px 40px 40px;
max-width: 500px;
text-align: left;
background: fff;
border-bottom: 4px solid #ccc;
}